.ContactPage_container {
  height: 100%;
  margin-top: 10px;
  overflow-y: scroll;
}

.ContactPage_container::-webkit-scrollbar {
  width: 7px;
}
.ContactPage_container::-webkit-scrollbar-thumb {
  background: #37404590;
}
