.messages_container {
  display: flex;
  width: 100%;
  height: calc(100% - 75px);
}

.contacts {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 30%;
  min-width: 300px;
}

.search {
  display: flex;
  align-items: center;
  height: 40px;
  background-color: red;
  width: auto;
  justify-content: space-evenly;
  padding: 10px 0px;
  background-color: #111b21;
  color: #aebac1;
}
.search_input {
  border: none;
  border-radius: 10px;
  width: auto;
  width: 80%;
  height: 100%;
  background-color: #202c33;
  padding-left: 20px;
  color: white;
}
.all_contacts {
  overflow-y: auto;
}

.all_contacts::-webkit-scrollbar {
  background-color: #111b21;
  width: 7px;
}

.all_contacts::-webkit-scrollbar-thumb {
  background: #374045;
}
.content {
  height: 100%;
  width: 70%;
  background-image: url("https://wallpapercave.com/wp/wp6988787.png");
  background-size: contain;
}
.content_scroll {
  width: 100%;
  height: calc(100% - 60px);
}
